body{
	text-align: center;
}

h1 {
	text-align: center;
}
 
 .clearfix {
 	overflow: auto;
 }

 .rowRou p {
	color: #fff;
	padding: 50px;
 }

img{
	width: 300px !important;
	height:200px;
	padding:10px;

}